@tailwind base;
@tailwind components;
@tailwind utilities;

.animate-spin{
    animation: spin 15s infinite linear;
}

.gray-bg{
    background-color: #282D36;
}

.bg-nav{
    background-color: #2c2e32;
}

.background{
    background-image: linear-gradient(to bottom right, #1E2B42, #2F366A) 
}

.color{
    color: white;
}

.bg-nav{
    background-color: #1E2B42;
}