@tailwind base;
@tailwind components;
@tailwind utilities;

.animate-spin{
    animation: spin 15s infinite linear;
}

.gray-bg{
    background-color: #282D36;
}

.bg-nav{
    background-color: #2c2e32;
}
